<h1>
    Trips
</h1>
<h2 style="width:750px;">
    
</h2>

<div class="new-line"></div>

<div class="wrapper"> 
   

    <div class="list-container"  >
        <table ng-table="tableParams" id="results">
            <tr> 
                <th><a ng-click="orderBy('Origin')">Origin</a></th>
                <th><a ng-click="orderBy('Destination')">Destination</a></th>
                <th><a ng-click="orderBy('UserId')">Initiated By</a></th>
                <th><a ng-click="orderBy('TripStatus')">Trip Status</a></th>
                <th></th>
                <th></th>
            </tr>

            <tr ng-repeat="item in tripDetails | startFrom:currentPage*pageSize | limitTo:pageSize" id="item_{{item.TripId}}">
                <td>{{item.Origin}}</td>
                <td>{{item.Destination}}</td>
                <td>Sujatha Y</td>
                <td>Open</td>
                <td><a href="#/tripdetail/{{item.TripId}}" class="more">More Details</a></td>
                <td><button  >Edit</button></td>
            </tr>

        </table>
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
      

       
    </div>
    
</div>

