<h1>
    Trips
</h1>

<div class="new-line"></div>

<div class="wrapper">
    <!--<select ng-model="selectedItem" ng-options="option.name for option in options"></select><br>-->
    <div class="list-container">
        <table>
            <tr>
                <th><a ng-click="orderBy('SlNo')">#</a></th>
                <th><a ng-click="orderBy('FirstName')">Name</a></th>
                <th><a ng-click="orderBy('Route')">Route</a></th>
                <th></th>
            </tr>

            <tr ng-repeat="item in tripDetails" id="item_{{item.SlNo}}">
                <td>{{item.SlNo}}</td>
                <td>{{item.FirstName}}</td>
                <td>{{item.Route}}</td>
                <td><button ng-click="MoreDetails(item.SlNo)">More</button></td>
            </tr>

        </table>
        <a ng-show="isMore" class="more">show more</a>
    </div>
    <div class="detailed-trip" ng-show="isDetailedTrip">
        <h2>Details</h2>
        <div class="details-trip" ng-repeat="item in selectedTrip" id="item_{{item.SlNo}}">
            <span>{{item.FirstName}}</span><span>{{item.LastName}}</span>
            <div>{{item.Route}}</div>
            <div>{{item.Email}}</div>
            <div>{{item.Phone}}</div>
            <div>{{item.DateTime}}</div>
            <span>Send request to join the trip</span><button>Join</button>
        </div>

    </div>
</div>

